#list_complete, #list_complete_2 {
    padding: 3px !important;
    border-radius: 5px !important;
    font-size: 15px !important;
}

#list_complete-label, #list_complete_2-label {
    display: none;
}

.makeStyles-newConstructionItem-91 .MuiOutlinedInput-notchedOutline {
    border-color: gray !important;
    border-width: 1px !important;
}

.makeStyles-newConstructionItem-91 .MuiOutlinedInput-notchedOutline legend {
    display: none;
}